transformers==4.44.2
datasets==2.21.0
torch==2.4.1
torchtext==0.18.0
accelerate>=0.21.0

pandas==2.2.2
numpy==1.26.4
matplotlib==3.9.2
seaborn==0.13.2
scikit-learn==1.5.1
plotly

gensim==4.3.3
nltk==3.8.1
textblob==0.18.0.post0
contractions==0.1.73
emoji==2.12.1

streamlit
certifi
